<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RetroMe - Sign Up</title>
    <link rel="icon" type="image/png" href="assets/little-dude.png">
    <link rel="stylesheet" href="/css/login-page.css"> 
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap">
    <script src="/js/signin-page.js"></script>
</head>

<body id="body" background="../assets/field.jpg">
    <div id="signup-page">
        <img src="/assets/icons8-pug-48.png" id="signup-lildude-background" alt="Calendar Dude">

        <% if (error) { %>
            <div class="error-message"><%= error %></div>
        <% } %>

        <form class="signup-form" action="/signup" method="POST">
            <label for="username">USERNAME</label>
            <input type="text" id="username" name="username" required>

            <label for="password">PASSWORD</label>
            <input type="password" id="password" name="password" required>

            <button type="submit" id="signup-button">SIGN IN</button>
        </form>

        <form action="/login" method="GET">
            <button type="submit" id="back-button">BACK</button>
        </form>
    </div>
</body>
</html>
