.journal-window, .search-journal-window{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none; 
    flex-direction: column; 
    align-items: center; 
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    z-index: 1000;
    height: 70%;
    width: 60%;
    overflow: auto;
}
.journal-window.active, .search-journal-window.active{
    display: flex;
    background-color: rgb(106, 163, 209);
    border: 2px solid darkslateblue;
}

.journal-header, .search-journal-header {
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: space-between; 
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}
.journal-title-input, .newJournal-title-input, .newJournal-title-inputPlus,
 .search-journal-title-input{
    flex-grow: 1;
    font-size: 18px;
    border: 1px solid #ccc;
    padding: 5px;
    width: 80%; 
    font-family: "Tiny5", serif;
}
.save-entry, .delete-entry{
    font-family: "Tiny5", serif;
    background-color: rgba(100, 108, 181, 0.8);
    border: 1px solid black;
    color: white;
    padding: 4px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 1%;
}
.save-entry:hover, .delete-entry:hover{
    background-color: rgb(40, 54, 181, .8);
    color: black;
}
.journal-content, .search-journal-content {
    width: 100%;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 15px;
    height: 100%;
    overflow: auto;
}
.journal-textarea, .newJournal-textarea, .newJournal-textareaPlus, .search-journal-textarea {
    width: 100%;
    height: 90%;
    border: 1px solid #ccc;
    padding: 10px;
    font-family: "Tiny5", serif;
    resize: none; 
}
#journal-label, #newJournal-label, #newJournal-labelPlus, #search-journal-label{
    margin-bottom: 2%;
    font-family: "Tiny5", serif;
}
.journal-footer, .search-journal-footer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.go-back{
    font-family: "Tiny5", serif;
    padding: 4px 20px;
    background-color: rgb(94, 81, 179);
    color: white;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 4px;
}
.go-back:hover{
    background-color: darkslateblue;
    color: black;
}
.new-entry-window, .add-new-entry-plus{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none; 
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    z-index: 1000;
    height: 70%;
    width: 60%;
    overflow: auto;
}
.new-entry-window.active, .add-new-entry-plus.active {
    display: flex;
    background-color: rgb(106, 163, 209);
    border: 2px solid darkslateblue;
}
.entry-select-date {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.newEntryDatePlus {
    font-size: 14px;
    font-family: "Tiny5", serif;
    text-align: center;
    margin-left: 2%;
    margin-bottom: 2%;
    flex: 1; 
}
.entry-select-date label {
    font-size: 1.2rem; 
    color: #6c757d;
    color: black;
    margin-bottom: 2%;
}