* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0; 
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.hidden {
    display: none;
}

#login-page, #signup-page {
    font-family: 'Press Start 2P', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 45%; 
    height: 60%; 
    background-color: rgba(100, 108, 181, 0.8); 
    border: 4px solid darkslateblue;
    border-radius: 15px; 
    box-sizing: border-box;
    overflow: auto;
}
#signup-page {
    background-color: rgba(112, 167, 107, 0.8);
    border: 4px solid darkgrey;
}
.credentials{
    display: flex;
    flex-direction: column;
    width: 70%; 
    border-radius: 10px;
    justify-content: space-around;
    box-sizing: border-box;
    flex-grow: 1;
}
.credentials label {
    font-size: clamp(12px, 1.5vw, 36px); /* Responsive font size */
    text-align: center; 
    display: block;
}

.credentials input {
    font-family: 'Press Start 2P', cursive;
    width: 100%;
    height: 60%;
    padding: 10px;
    font-size: 14px;
    border: 2px solid black;
    border-radius: 2px;
    box-sizing: border-box;
    background-color: rgb(192, 230, 220);
}
.credentials input:hover{
    background-color: yellow;
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 20%;
}

.login-action-buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
    border-radius: 10px;
    box-sizing: border-box;
}
#login-button, #sign-button, #signup-button, #back-button{
    font-family: 'Press Start 2P', cursive;
    font-size: clamp(.6rem, 1.2vw, 2rem);
    border: 2px solid black;
    padding: 0.4em .8em;
    background-color: rgb(192, 230, 220);
    text-transform: uppercase;
    letter-spacing: .2em;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    width: auto;  
    height: auto;
    align-self: center;
}

#sign-button, #back-button{
   margin-bottom: 5%;
}

.cat-icon{
    display: flex;                
    justify-content: center;     
    align-items: flex-end;  
    width: 45%;
    height: 10%;
}
#login-lildude-background, #signup-lildude-background {
    max-width: 100%; 
    height: 100%;                 
}

.login-form input:hover, .signup-form input:hover {
    background-color: rgb(226, 232, 48);
}
.login-form input[type="text"],
.login-form input[type="password"],
.signup-form input[type="text"],
.signup-form input[type="password"] {
    font-family: 'Press Start 2P', cursive;
}


#login-page button:hover, #signup-page button:hover, #back-button button:hover  {
    background-color: yellow;
}
.error-message {
    text-align: center;
    background-color: #ffcccc;
    color: #cc0000;
    border: 1px solid #cc0000;
    padding: 10px;
    position: absolute;
    top: 5px; 
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    z-index: 1000; 
    font-size: clamp(8px, 1.8vw, 34px); 
    width: auto;
}
.close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: clamp(8px, 1.8vw, 34px); 
    cursor: pointer;
    color: #cc0000;
}
.close-btn:hover {
    color: #ff0000;
}
#audio-control {
    position: fixed; 
    top: 20px; 
    right: 20px; 
    cursor: pointer; 
    z-index: 1000; 
}

#audio-control img {
    width: 32px; 
    height: 32px; 
}

#copyright {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Press Start 2P', cursive; 
    color: yellow; 
    font-size: clamp(10px, 1.2vw, 28px);
    text-align: center;
}